
.container-grid {
    display: grid;
}

nav {

    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
    background-color: beige;

}

.logo h6 {
    font-size: 200%;
    margin: 0;
}

nav a{
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 150%;
}

nav a.nav-menu {
    display: none;
    color: black;
    cursor: pointer;
    grid-column-start: 5;

}

div.modal {
    display: none;
}

/* ------------------Postagens-----------------------*/

div#postagens{
    grid-template-columns: repeat(3, 1fr);

    column-gap: 5%;
    margin: 3%;
}


div#postagem-1 {
    /* grid-template-rows: 60%; */
}

div#postagem-1 img,
div#postagem-2 img,
div#postagem-3 img {
    height: 100%;
    width: 100%;
}

div#postagem-1 h5,
div#postagem-2 h5,
div#postagem-3 h5 {
    text-align: center;
}

/* ------------------Itens e banner-----------------------*/

div#itens-banner {
    grid-template-columns: auto 40%;

}

div#itens {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5%;
    row-gap: 5%;
}

div#itens img {
    height: 100%;
    width: 100%;
}

div#itens h6 {
    align-self: center;
}

div#banner img {
    height: 100%;
    width: 100%;
}

div#banner h6 {
    text-align: center;
}

@media (max-width: 415px) {

    nav a.nav-menu {
        display: block;
    }

    nav a {
        display: none;
    }

    div.modal {
        display: grid;
        color: black;
        font-size: 150%;
        align-content: center;
        text-align: center;
        row-gap: 5%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;

        opacity: 0;
        pointer-events: none;
    }

    div.modal a {
        text-decoration: none;
        list-style: none;
        color: whitesmoke;
        font-size: 140%;
    }

    div.modal:target {
        opacity: 1;
        pointer-events: auto;
    }

  

    


}