
.container-grid {
    display: grid;
}

nav {

    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
    background-color: beige;

}

.logo h6 {
    font-size: 200%;
    margin: 0;
}

nav a{
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 150%;
}

nav a.nav-menu {
    display: none;
    color: black;
    cursor: pointer;
    grid-column-start: 5;

}

div.modal {
    display: none;
}


@media (max-width: 415px) {

    nav a.nav-menu {
        display: block;
    }

    nav a {
        display: none;
    }

    div.modal {
        display: grid;
        color: black;
        font-size: 150%;
        align-content: center;
        text-align: center;
        row-gap: 5%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;

        opacity: 0;
        pointer-events: none;
    }

    div.modal a {
        text-decoration: none;
        list-style: none;
        color: whitesmoke;
        font-size: 140%;
    }

    div.modal:target {
        opacity: 1;
        pointer-events: auto;
    }

  

    


}